<!-- your html code here -->

<h1>Contact</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat sapiente voluptate libero? Atque adipisci corrupti suscipit. Vero distinctio, facere omnis inventore explicabo quisquam sequi voluptate magnam sunt mollitia eaque sapiente.</p>
<div class="row">
    <div class="">.
        
    </div>
    <div class="card p-3 mb-2 bg-secondary text-white mx-auto" style="width: 700px; height: 200px">
        <div class="d-flex">
            <p>You e-mail</p>
            <input type="text">
        </div>
            <p>Your message</p>
            <input type="text">
          <a href="#"><button type="button" class="btn btn-primary">Enviar</button></a>
        </div>
      </div>
</div>
</div>