<!-- your html code here -->
<div class="container d-flex border-top border-bottom p-0" style="margin-top:70px;">
    <div class="f-heading d-flex bg-white p-0 m-auto">
        <div class="col-lg-8 my-5 p-0">
            <div class="card-body p-0">
                <div class="f-heading-title d-flex mt-5">
                    <h2 class="card-title fs-1">The First Heading</h2>
                    <h2 class="text-muted fs-1">&nbspWill Catch Your Eye</h2>
                </div>
                <p class="text fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit nisi mollitia odio at placeat voluptatibus deleniti, dolorum tempora quisquam optio! Nostrum aperiam soluta minus, enim quam quos id animi optio?</p>
            </div>
        </div>
        <div class="col-lg-4 my-5 ms-4 p-0">
            <img src="/website/assets/img/1.jpg" class="img-fluid col-lg-11 rounded-circle my-4 ms-0" alt="heisenberg">
        </div>
    </div>
</div>