<!-- your html code here -->
<br>
<br>
<br>
<h1> Portafolio </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque itaque voluptatibus molestiae unde excepturi enim ullam, architecto qui at nobis facere vel, sapiente aliquid distinctio exercitationem, sint laudantium amet!</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img src="https://picsum.photos/id/237/500/300" alt="">
            <h1 class="text-primary">Project Name</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae non sunt debitis illum voluptas. Eos at est voluptatibus tenetur repellat labore aliquam quis fugit dolorum! Harum odit explicabo laborum impedit.</p>
        </div>
        <div class="col-4">
            <img src="https://picsum.photos/id/237/500/300" alt="">
            <h1 class="text-primary">Project Name</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quidem doloribus dolores, optio necessitatibus itaque accusamus sunt sint provident at inventore nisi obcaecati eveniet non libero natus aliquam earum debitis.</p>
        </div>
        <div class="col-4">
            <img src="https://picsum.photos/id/237/500/300" alt="">
            <h1 class="text-primary">Project Name</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore obcaecati atque commodi dolor molestias inventore! Iste quia placeat voluptates, a pariatur modi corporis porro et, tempore laborum, illo eligendi!</p>
        </div>
    </div>
</div>